@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import "tailwindcss";

@theme {
  --text-young: "Young Serif", serif;
  --text-outfit: "Outfit", sans-serif;
  --text-normal: 16px;
  --text-cuatro: 400;
  --text-seis: 600;
  --text-siete: 700;

  --color-stone1: hsl(30, 54%, 90%);
  --color-stone2: hsl(30, 18%, 87%);
  --color-stone3: hsl(30, 10%, 34%);
  --color-stone4: hsl(24, 5%, 18%);

  --color-brown: hsl(14, 45%, 36%);

  --color-rose: hsl(332, 51%, 32%);
  --color-rose1: hsl(330, 100%, 98%);
}

* {
  font-family: var(--text-outfit);
  font-weight: 400;
  font-size: var(--text-normal);
}

p {
  font-family: var(--text-outfit);
  font-weight: 400;
  font-size: var(--text-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-young);
  font-weight: 700;
}